.footer-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons-container{
    /* border: 2px solid blue; */
    display: flex;
    width: 150px;
    justify-content: space-between;
    text-align: center;
}

.footer-icon{
    color: #3D3C3C;
}

.footer-contact-text{
    color: #3D3C3C;
}